* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
	color: #313131;
	min-height: 100vh;
	font-family: 'Roboto', Helvetica;
	font-size: 18px;
}

a {
    color: #242e31;
    text-decoration: none;
    font-weight: 600;
   }

/*header*/

header {
    display: flex;
	/*position: fixed;*/
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	height:80px;
	background: #e3dede;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 100%;
    /*margin: 0 auto;*/
    padding: 10px;
    position: relative;
}

.content-wrapper{
	width: 100%;
}

.content-wrapper{
    margin-top: 78px;
    padding: 10px;
    line-height: 34px;
}

.header__nav {
	display: block;
	position: absolute;
    list-style: none;
    top: 55px;
    background: rgb(245, 246, 246);
    box-shadow: #ccc;
    width: 250px;
    transition: all 0.4s ease;
	left:-200%;
}
.header__menu {
	display: block;
    width: 250px;
    list-style: none;
    float: left;
}
.header__nav.open-menu{
    left:0;
}
.header__menu li {
	margin: 40px 0px 40px 33px;
    font-size: 14px;
	}


.project-name{
    self-align: center
}


.menu-burger__header {
	position: relative;
    width: 40px;
    height: 35px;
    display: block;
    /*display: block;*/
    margin-left: 10px;
   }

.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
	height: 3px;
	width: 100%;
	position: absolute;
	background: #515758;
	margin: 0 auto;
}
.menu-burger__header span{
	top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
	content: '';
}
.menu-burger__header:after{
	bottom: 5px;
}
.menu-burger__header:before{
	top: 5px;
}
.menu-burger__header.open-menu span {
	opacity:0;
    transition: 0.5s;
}
.menu-burger__header.open-menu:before {
	transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
	transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}

header {
	height: 60px;
}






/*.project-name{*/
/*    text-align: left;*/
/*}*/


.navigation-list{
    list-style: none;
    width: 250px;
    /*height: auto;*/
    /*position: fixed;*/
    /*z-index: 5;*/
    /*top: 79px;*/

}

aside ul li{
    color: black;
    display: block;
    margin-top: 15px;
    /*position: relative;*/
    transition: transform .6s ease;
}

.other-Page{
  text-decoration: none;
}

aside ul li :hover, aside ul a :hover {
    /*position: relative;*/
    /*display: block;*/
    /*box-sizing: border-box;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    color: #0759d9;
    /*line-height: 2em;*/
    text-decoration: none;
    /*padding: 10px 15px;*/
    /*transform: scale(1.01);*/
}


.main-footer{
    padding-top: 30px;
    padding-bottom: 30px;
    /*margin-top: 120px;*/
    font-size: 15px;
    /*line-height: 12px;*/
    border-top: 1px solid rgba(22, 49, 82, 0.1);
}

.footer-container{
    width: 1170px;
    margin: 0 auto;
    /*padding: 0 55px;*/
    display: flex;
    justify-content: space-between;
}


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background-color: #fdfdff;
}

/* header */

.page-header {
  margin-bottom: 40px;
}

/* services */

.services {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(22, 49, 82, 0.1);
}

.services-content {
  display: flex;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.location {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 25px;
  margin-right: auto;
  font-size: 14px;
  line-height: 14px;
  color: inherit;
  text-decoration: none;
  /*background-image: url("../img/pin.svg");*/
  background-repeat: no-repeat;
  background-position: left center;
}

.location:hover {
  opacity: 0.5;
}

.location:active {
  opacity: 0.3;
}

.caption {
  margin: 0;
  margin-right: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}


/*footer*/
.img{
    width: 48px;
    height: 48px;
}



/*index*/
.features{
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background-color: #fdfdff;
}

.head-IT-projects{
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    top: 200px;
}

.photo-head-IT-projects{
    margin-left: 50px;
    /*margin-top: 15px*/
}