{% extends 'main/layout.html' %}


{% block title %} {{ title }} {% endblock %}

{% block content %}
    <section class="features">
        <h2 class="head-IT-projects"> {{ title }} </h2>
        <img class="photo-head-IT-projects" src="/static/main/img/head_IT_projects.jpg" width="700" alt="Объяснение проекта">


        <article id="post-920" class="post-920 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-hr tag-it-podbor tag-vakansii entry">
            <div class=""><h1>Чем занимается IT-директор?</h1></div>

            <div class="entry-content">

                <p>IT-директор (от англ. CIO — Chief Information Officer) – руководящая должность департамента по информационным технологиям.
                    Такой сотрудник управляет процессом, определяет стратегию развития и взаимодействует с топ-менеджментом компании.
                    В зону ответственности CIO также входит контроль за работой информационных систем и распределение бюджета.</p>

                <p>В России с 2014 года утвердили профессиональный стандарт для IT-директора.
                    Если опираться на этот реестр, возможны другие названия должности:</p>

                <ul>
                    <li>Начальник службы информатизации;</li>
                    <li>Заместитель генерального директора по IT;</li>
                    <li>Директор IT-департамента;</li>
                    <li>Начальник информационной службы.</li>
                </ul>

                <p>Пару лет назад ИТ-директор в российской компании отвечал только за IT-инфраструктуру и программное обеспечение,
                    сейчас его функции тесно связаны со стратегическими вопросами.</p>

                <h2><span class="ez-toc-section"></span>Основные задачи<span class="ez-toc-section-end"></span></h2>

                <p>Обязанности CIO можно разделить на два блока: технический и стратегический.<br><br>
                    <strong><span style="color:#5468ff" class="has-inline-color"><big>Технические задачи</big></span></strong>
                </p>

                <ul>
                    <li>Закупает оборудование и программное обеспечение;</li>
                    <li>Поддерживает работоспособность компьютерной техники, информационных систем и сервисов, клиентского и серверного оборудования;</li>
                    <li>Составляет регламенты и рабочие инструкции к программам;</li>
                    <li>Обеспечивает информационную безопасность;</li>
                    <li>Развивает информационную систему в компании;</li>
                    <li>Обеспечивает автоматизацию бизнес-процессов;</li>
                    <li>Отвечает за техдокументацию и отчетность ИТ-подразделения.</li>
                </ul>

                <p><strong><big><span style="color:#5468ff" class="has-inline-color">Стратегические задачи</span></big></strong></p>

                <ul>
                    <li>Планирует бюджет ИТ-компании или департамента;</li>
                    <li>Оптимизирует расходы;</li>
                    <li>Разрабатывает план развития в области IT;</li>
                    <li>Руководит отделом и проектами.</li>
                </ul>

                <h2>Что должен знать</h2>

                <p>Хороший CIO имеет опыт работы на данной позиции от 3 лет с опытом решения комплексных задач.
                    Нельзя сказать, что важнее: технический бэкграунд или опыт управления большой командой.
                    Профессионализм ИТ-директора включает:</p>

                <ul>
                    <li>глубокое понимание информационной инфраструктуры и технологий;</li>
                    <li>понимание бизнес-процессов;</li>
                    <li>управленческие компетенции.</li>
                </ul>

                <p>Это не просто эксперт, но и активный внедренец, который может довести идею до успешной реализации.
                    Он стоит у решения важных вопросов на стыке бизнеса и ИТ, поэтому требований к такому сотруднику много.
                    Основной набор знаний и навыков выглядит так:</p>

                <ul>
                    <li>Высшее техническое образование;</li>
                    <li>Компьютерные программы (1C, Битрикс24 и другие);</li>
                    <li>Реализация проектов по автоматизации процессов;</li>
                    <li>Опыт управления проектами;</li>
                    <li>Современные методы организации IT-процессов;</li>
                    <li>Оптимизация бизнес-процессов через информационные системы;</li>
                    <li>Опыт выстраивания и реализации IT-проектов;</li>
                    <li>Телекоммуникационные технологии, передача и обработка данных, сетевые технологии и протоколы;</li>
                    <li>Знания методов защиты информации и опыт их реализации;</li>
                    <li>База знаний ITIL;</li>
                    <li>Принципы сетевой и серверной инфраструктуры (Linux, Unix, Windows).</li>
                </ul>

            </div>
        </article>
    </section>
{% endblock %}
